{% extends "base.html" %}

{% load static %}

{% block content %}
<br>

<div class="container bg-white shadow-md p-3 form-layout">
    
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Письмо подтверждения отправлено!</h4>
        <p>
            На ваш адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте свою электронную почту и нажмите на ссылку подтверждения, чтобы завершить регистрацию.
            Если письмо не пришло, проверьте папку спам.
        </p>
    </div>
</div>

<br>

{% endblock %}