{%  extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'payment/css/payment-success-fail.css' %}">
{% endblock head %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="message-box _success _failed">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <h2> Your payment failed </h2>
            <p> Try again later </p>
        </div>
    </div>
</div>
</div>
{% endblock content %}